<CONFIG>
	<PANEL COLUMNS="192" ROWS="32" MODULE_WIDTH="32" MODULE_HEIGHT="32">
		<FACE ID="master">
			<CARD ID="ER1" PROTOCOL="TEXTEL" QUERY_FOR_CARD_ID="Q?">
				<ON-START-COMMAND ID="DE" DELAY="15"/>
				<QUERY ID="P?" CARD_RESPONSE_FORMAT="P*" PERIOD="5" ON_START="1" OIDS="1.3.6.1.4.1.46536.2.5.1.3.0" remarks="DOOR OPEN/CLOSED" LOG="0"/>
				<QUERY ID="D?" CARD_RESPONSE_FORMAT="D#" PERIOD="5" ON_START="1" OIDS="1.3.6.1.4.1.46536.2.5.1.2.0" remarks="DISPLAY ON/OFF" LOG="0"/>
				<QUERY ID="L?" CARD_RESPONSE_FORMAT="L###" PERIOD="5" ON_START="-1" OIDS="1.3.6.1.4.1.46536.2.5.1.8.0" remarks="LIGHT_SENSOR_LEVEL" LOG="0"/>
				<QUERY ID="T?" CARD_RESPONSE_FORMAT="T.###" PERIOD="5" ON_START="1" OIDS="1.3.6.1.4.1.46536.2.5.1.4.0" remarks="INTERNAL_TEMPERATURE" LOG="0"/>
				<QUERY ID="S?" CARD_RESPONSE_FORMAT="S#" PERIOD="5" ON_START="1" OIDS="1.3.6.1.4.1.46536.2.5.1.5.0" remarks="THERMOSTAT ON/OFF" LOG="0"/>
				<QUERY ID="V?" CARD_RESPONSE_FORMAT="V1#V2#" PERIOD="5" ON_START="2" OIDS="1.3.6.1.4.1.46536.2.5.1.6.0,1.3.6.1.4.1.46536.2.5.1.7.0" remarks="FANS ON/OFF" LOG="0"/>
				<SCHEDULED-QUERY OIDS="1.3.6.1.4.1.46536.2.5.1.9.0,1.3.6.1.4.1.46536.2.5.1.10.0" ID="E?" CARD_RESPONSE_FORMAT="Ey6144" ON_START="2" AT_SCHEDULED_TIME="03:01" ELEMENT_IDS="wrongLeds,wrongModules"/>
				<SW-QUERY ELEMENT_IDS="usb" OIDS="1.3.6.1.4.1.46536.2.5.1.1.0" remarks="ERRORS_CARD_USB_COMMPORT"/>
				<HW-NOTIFICATION NOTIFICATION_FORMAT="P." OID="1.3.6.1.4.1.46536.2.5.2.3.0" MESSAGE="Door Open/Close"/>
				<HW-NOTIFICATION NOTIFICATION_FORMAT="G##" OID="1.3.6.1.4.1.46536.2.5.2.8.0" MESSAGE="Hit received with a G-Force of "/>
				<SW-NOTIFICATION OID="1.3.6.1.4.1.46536.2.5.1.4.0" LOWER_BOUND="0" UPPER_BOUND="35" NOTIFICATION_OID="1.3.6.1.4.1.46536.2.5.2.4.0" ELEMENT="masterTemperatureNotification" CONDITION="BOUNDS"/>
				<SW-NOTIFICATION OID="1.3.6.1.4.1.46536.2.5.1.1.0" NOTIFICATION_OID="1.3.6.1.4.1.46536.2.5.2.2.0" ELEMENT="masterUsbErrorsNotification" STRING_VALUE_ERROR_CONDITION="" CONDITION="STRING_VALUE_ERROR_CONDITION"/>
				<SW-NOTIFICATION OID="1.3.6.1.4.1.46536.2.5.1.5.0" NOTIFICATION_OID="1.3.6.1.4.1.46536.2.5.2.5.0" ELEMENT="masterFansNotification" CONDITION="VALUE_MUST_MATCH_TO" VALUE_MUST_MATCH_TO="1.3.6.1.4.1.46536.2.5.1.6,1.3.6.1.4.1.46536.2.5.1.7" RETRIES="3"/>
				<SW-NOTIFICATION OID="1.3.6.1.4.1.46536.2.5.1.9.0" LOWER_BOUND="0" UPPER_BOUND="10" NOTIFICATION_OID="1.3.6.1.4.1.46536.2.5.2.6.0" ELEMENT="masterLedNotification" CONDITION="BOUNDS"/>
				<SW-NOTIFICATION OID="1.3.6.1.4.1.46536.2.5.1.10.0" LOWER_BOUND="0" UPPER_BOUND="0" NOTIFICATION_OID="1.3.6.1.4.1.46536.2.5.2.7.0" ELEMENT="masterModuleNotification" CONDITION="BOUNDS"/>
				<SW-NOTIFICATION OID="1.3.6.1.4.1.46536.2.5.1.8.0" LOWER_BOUND="1" UPPER_BOUND="255" NOTIFICATION_OID="1.3.6.1.4.1.46536.2.5.2.9.0" ELEMENT="masterLightSensorNotification" CONDITION="BOUNDS"/>
				<SW-SNMP-SET OID="1.3.6.1.4.1.46536.2.5.1.4.0" BOUND="30" NOTIFICATION_OID="1.3.6.1.4.1.46536.2.5.1.5.0" LEAF_NODE_VALUE="1" CONDITION="ABOVE"/>
				<SW-SNMP-SET OID="1.3.6.1.4.1.46536.2.5.1.4.0" BOUND="10" NOTIFICATION_OID="1.3.6.1.4.1.46536.2.5.1.5.0" LEAF_NODE_VALUE="0" CONDITION="BELOW"/>
				<COMMAND_ON_SNMP_SET OID="1.3.6.1.4.1.46536.2.5.1.5.0">
                    <COMMAND LEAF_NODE_VALUE="0" ID="SA" remarks="APAGAR TERMOSTATO"/>
                    <COMMAND LEAF_NODE_VALUE="1" ID="SE" remarks="ENCENDER TERMOSTATO"/>
                </COMMAND_ON_SNMP_SET>
				<COMMAND_ON_SNMP_SET OID="1.3.6.1.4.1.46536.2.5.1.2.0">
                    <COMMAND LEAF_NODE_VALUE="0" ID="DA" remarks="APAGAR DISPLAY"/>
                    <COMMAND LEAF_NODE_VALUE="1" ID="DE" remarks="ENCENDER DISPLAY"/>
                </COMMAND_ON_SNMP_SET>
				<COMMAND_ON_SNMP_SET OID="1.3.6.1.4.1.46536.2.5.1.11.0">
                    <COMMAND LEAF_NODE_VALUE="1" ID="REBOOT_WITH_DISPLAY_OFF" remarks="SOFTWARE RESET"/>
                </COMMAND_ON_SNMP_SET>
				<COMMAND_ON_SNMP_SET OID="1.3.6.1.4.1.46536.2.5.1.12.0">
                    <COMMAND LEAF_NODE_VALUE="1" ID="REBOOT" remarks="SOFTWARE RESET SIN APAGAR"/>
                </COMMAND_ON_SNMP_SET>
				<COMMAND_ON_SNMP_SET OID="1.3.6.1.4.1.46536.2.5.1.13.0">
                    <COMMAND LEAF_NODE_VALUE="1" ID="HR" remarks="HARDWARE RESET"/>
                </COMMAND_ON_SNMP_SET>
			</CARD>
		</FACE>
		<AGENT_CHECKERS>
			<CHECKER OID="1.3.6.1.4.1.46536.2.4.0" remarks="CHECK FOR OVERALL DISPLAY STATUS" OK="Ok" KO="Error">
				<CHECK OID="1.3.6.1.4.1.46536.2.5.1.1.0" remarks="MASTER ERRORS CARD USB COMMPORT"/>
				<CHECK OID="1.3.6.1.4.1.46536.2.5.1.4.0" remarks="MASTER INTERNAL TEMPERATURE"/>
				<CHECK OID="1.3.6.1.4.1.46536.2.5.1.8.0" remarks="MASTER LIGHT SENSOR"/>
			</CHECKER>
		</AGENT_CHECKERS>
		<NOTIFICATIONS>
			<PARAMETER ID="ADMINISTRATOR_IP_ADDRESS" VALUE="127.0.0.1"/>
			<PARAMETER ID="ADMINISTRATOR_PORT" VALUE="162"/>
			<PARAMETER ID="ADMINISTRATOR_READ_ONLY_COMMUNITY" VALUE="textel"/>
			<PARAMETER ID="ADMINISTRATOR_READ_WRITE_COMMUNITY" VALUE="textel"/>
		</NOTIFICATIONS>
	</PANEL>
	<MISC>
		<BEHAVIOUR_ON_USB_ERROR SECONDS_TO_RESTART_APP="30" ATTEMPTS_TO_RESTART_APP_BEFORE_RESTART_PC="3" MAX_ATTEMPTS_TO_RESTART_PC_BY_CARD="3" DRIVE="D"/>
		<SWITCH_OFF_DISPLAY CARD_IDS="ER1" COMMAND="DA"/>
	</MISC>
</CONFIG>
